body {
background: #000;
background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 7, 87, 1) 50%, rgba(64, 0, 92, 1) 100%);
  font-family: sans-serif, arial;
  color: white;
}
h1 {
  color: aqua;
  font-size: 36;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
img {
  width: 100%;
  height: 180px;
  border-radius: 4%;
  margin-bottom: 16px;
}
.card {
  transition: 1s;
  border: 4px white solid;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.025);
}
.foto {
  border-radius: 100%;
  border: gold solid;
  height: 280px;
  width: 300px;
}
.foto-perfil {
  display: flex;
  justify-content: center;
  color: gold;
  font-weight: bold;
}

.p-5 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.RebuilWare {
  background: linear-gradient(#02001e, #161432);
  color: whitesmoke;
  text-align: justify;
}

.MapCun {
  background: linear-gradient(indigo, black);
  color: aliceblue;
  text-align: justify;
}

.Farmacia {
  background: linear-gradient(aqua, white);
  color: #02001e;
  text-align: justify;
}
.Pisos {
  color: aliceblue;
  background: linear-gradient(#6f4e37, #f5a623);
  text-align: justify;
}
.Neutral {
  color: #02001e;
  background-color: black;
}
.p {
  display: flex;
  align-items: center;
}
h5,
h4 {
  text-align: center;
  font-weight: bold;
}

.github {
  color: white;
}
.github.black {
  color: #000;
}
.modal {
  width: 100%;
}

.carousel-img {
  height: 340px; 
  object-fit: contain;
  width: 100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.5); /* fondo semitransparente */
  border-radius: 50%;
}
